.login{
    height: 100vh;
    background-color: #f8f8f8;
    display: grid;
    place-items: center;
}

.login__container{
    padding: 100px;
    text-align: center;
    background-color:white;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.login__container > img{
    object-fit: contain;
    height: 100px; 
    margin-bottom: 40px;
}

.login__container > button{
    margin-top: 40px;
    text-transform: inherit !important;
    background-color: #0a8d48;
    color: white;
}