.message{
    display: flex;
    align-items: center;
    padding: 20px;
}

.message > img {
    width: 40px;
    height: 40px;
    object-fit: contain;

}

.message__info{
    padding-left: 10px;
}

.message__timeStamp{
    color: grey;
    font-weight: 300;
    font-size: 13px;
}